[Unit]
Description=Europa service
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=python3 /root/europa/wsgi.py
Restart=always

[Install]
WantedBy=multi.user.target